// graphworks frameworks v3.0 - header, navigation
///////////////////////////////////////////////////
// Made by graphworks (@rpkaaa)
@import '../_helpers';
$header-position:           fixed;
$header-position-top:       0;
$header-background:         #FFFFFF;
$top-bar-size:              46px;
$top-bar-color:             $primary-color;
$nav-size:                  75px;
$logo-width:                14%;
$logo-min-width:            120px;
$logo-max-width:            160px;
$nav-bg:                    #FFFFFF;
$nav-item-height:           60px;
$nav-item-color:            $primary-color;
$nav-item-color-current:    #FFFFFF;
$nav-item-color-current-bg: $primary-color;
$nav-ul-li-color-bg:        #FFFFFF;
$nav-ul-li-color:           #FFFFFF;
$nav-ul-li-ul-color-bg:     #EFEFEF;
$nav-ul-li-ul-color:        #FFFFFF;
$mobilenav-start-from:      820px;

// Header Settings
header {
    width: 100%;
    height: auto;
    min-height: $top-bar-size + $nav-size;
    display: block;
    position: $header-position;
    top: $header-position-top;
    z-index: 9999999;
    background: $header-background;
    @include transition(all, $transition-3, ease);
    .gridContainer a.logo {
        float: left;
        display: block;
        height: $nav-size;
        width: $logo-width;
        min-width: $logo-min-width;
        max-width: $logo-max-width;
        overflow-y: visible;
        @include transition(all, 1s, ease-in-out);
        img {
            display: block;
            float: left;
            vertical-align: middle;
            width: 100%;
            padding-top: 8px;
            min-height: 68px;
            min-width: 60px;
            margin: 0px;
            height: $nav-size;
            height: auto; /* if logo highter than nav bar */
            margin-top: -40px;
            /* vertical correction if needed */
            @include transition(all, 1s, ease-in-out);
        }
    }
    section.topbar {
        //display:none; /* if top bar isn't needed */
        height: 46px;
        padding: 0 !important;
        background-color: $top-bar-color;
        img {
            width: auto;
            height: 34px;
            display: block;
            float: right;
            margin: 6px 0px 6px 10px;
        }
        h6 {
            height: auto;
            min-height: 28px;
            display: block;
            float: right;
            color: #FFFFFF;
            font-size: 12px;
            line-height: 14px;
            margin: 9px 0 0 10px;
        }
    }
}

.dropdowns nav,
.dropdowns ul,
.dropdowns li,
.dropdowns a {
    margin: 0;
    padding: 0;
}

.dropdowns a {
    text-decoration: none;
}

.toggleMenu {
    display: none;
}

.nav {
    list-style: none;
    *zoom: 1;
    display: block;
    width: auto;
    float: right;
}

.nav:before,
.nav:after {
    content: " ";
    display: table;
}

.nav:after {
    clear: both;
}

.nav ul {
    list-style: none;
    float: right;
    text-align: right;
}

.nav a {
    cursor: pointer;
    padding: 0px 10px;
    height: $nav-size;
    line-height: $nav-size;
    color: #575757 !important;
    &:hover {
        background-color: #fff;
    }
}

.nav li {
    position: relative;
}

.nav > li {
    float: left;
}

.nav > li > a {
    display: block;
    &.c_red {
        color: #ED1C24;
    }
}
.nav li a:hover, .nav li ul:hover ~ .nav li a, .current {
    border-bottom: solid 6px $primary-color;
}
.nav ul li a:hover {
    border-bottom: none;
}


.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: $nav-size;
}


.nav li li a {
    display: block;
    position: relative;
    z-index: 100;
    width: auto;
    display: block;
    text-align: left;
    width: auto;
    min-width: 400px;
    height: auto;
    min-height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 14px;
}

.nav li li li a {
    z-index: 200;
}

@media screen and (max-width: $mobilenav-start-from) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
    .nav > li.hover > ul,
    .nav li li.hover ul {
        position: static;
    }
}


/* second level navigation colors */

.nav li li a {
    background: #eeeeee;
    border-bottom: 1px solid #c0c0c0;
}


/* third level navigation colors */

.nav li li li a {
    background: #cccccc;
    border-bottom: 1px solid #c0c0c0;
    ;
}

.dropdowns {
    width: auto;
}


/* small screens menu button */

a.toggleMenu {
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: $mobilenav-start-from) {
    // Mobile First Nav Styles
    nav {
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        top: $top-bar-size + $nav-size;
        right: 0;
        bottom: 0;
        left: 0;
        background: $nav-bg;
        z-index: 99999;
        padding: 0 0 150px 0;
        /* 150px padding-bottom for menu correction on small screens */
        margin: 0;
        ul {
            display: block;
            width: 100% !important;
            height: 100%;
            overflow-y: scroll;
            float: none;
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
            li {
                display: block;
                width: 100%;
                height: auto;
                float: left;
                background-color: $nav-ul-li-color-bg;
                border-top: 1px solid darken($nav-ul-li-color-bg, 10%);
                @include transition(all, $transition-3, ease);
                &.toggle {
                    cursor: pointer !important;
                }
                ul {
                    width: 100%;
                    li {
                        background-color: $nav-ul-li-ul-color-bg;
                        border-bottom: 1px solid darken($nav-ul-li-ul-color-bg, 10%);
                        @include transition(all, $transition-3, ease);
                        &:hover {
                            background-color: lighten($nav-ul-li-ul-color-bg, 50%);
                            @include transition(all, $transition-3, ease);
                        }
                    }
                }
                a {
                    display: block;
                    width: 100%;
                    height: $nav-item-height;
                    line-height: $nav-item-height;
                    text-align: center;
                    text-decoration: none;
                    color: $nav-item-color;
                    &.current {
                        background-color: $nav-item-color-current-bg;
                        color: $nav-item-color-current;
                        &:hover {
                            background-color: $nav-item-color-current-bg;
                            color: $nav-item-color-current;
                        }
                    }
                    &:hover {
                        background-color: $nav-item-color-hover-bg;
                        color: $nav-item-color-hover;
                        @include transition(all, $transition-3, ease);
                    }
                }
            }
        }
    }
}

.hmbrgr {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 24px;
    span {
        position: absolute;
        left: 0;
        width: 100%;
        background: #fff;
        display: inline-block;
    }
    &.expand {
        span:nth-child(1) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        span:nth-child(2) {
            zoom: 1;
            filter: alpha(opacity=0);
            -webkit-opacity: 0;
            -moz-opacity: 0;
            opacity: 0;
        }
        span:nth-child(3) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        span:nth-child(1),
        span:nth-child(3) {
            background-color: #71C8F1 !important;
        }
    }
}

@media screen and (max-width: $mobilenav-start-from) {
    #hamburger,
    .hmbrg {
        display: block;
    }
    #navigation {
        display: none;
    }
}

@media screen and (min-width: $mobilenav-start-from) {
    #hamburger,
    .hmbrg {
        display: none;
    }
    #navigation {
        display: block;
    }
}

@media screen and (max-width: 1165px) {
    .nav a {
        font-size: 14px;
        padding: 0px 6px;
    }
}
@media screen and (max-width: 960px) {
    .nav a {
        font-size: 12px;
        padding: 0px 4px;
    }
}
@media screen and (max-width: $mobilenav-start-from) {
    .nav li ul.sub {display: none !important;}
}