<!doctype html>
<html itemscope itemtype="http://schema.org/" lang="hu">

<head>
    <!-- just for testing-->
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- just for testing-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Búvártanfolyam, búvártúra - DiveWorld | diveworld.hu</title>
    <meta name="description" content="Búvártanfolyam, búvártúra, búvárkodás? Érdekel? Akkor a DiveWorld búváriskolába búvártanfolyamainkon megtanulhatod.">

    <link rel="apple-touch-icon" sizes="57x57" href="../content/image/favico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../content/image/favico//apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../content/image/favico//apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../content/image/favico//apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../content/image/favico//apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../content/image/favico//apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../content/image/favico//apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../content/image/favico//apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../content/image/favico//apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../content/image/favico//android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../content/image/favico//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../content/image/favico//favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../content/image/favico//favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Google robots -->
    <meta name="robots" content="index, follow" />
    <meta name="Robots" content="All">
    <meta name="web_author" content="graphworks creative | www.graph.works">

    <meta property="og:url" content="<?php echo \System\Http\Request::getInstance()->getCompletePath(); ?>" />
    <meta property="og:site_name" content="www.graphworks-creative.co.uk" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="graphworks" />
    <meta name="twitter:site:id" content="93684509" />

    <meta property="fb:admins" content="100005720717709" />

    <link href="https://plus.google.com/113056214204479975096" rel="publisher" />
    <link href="https://plus.google.com/113056214204479975096" rel="author" />

    <link rel="stylesheet" type="text/css" href="../content/css/preload.min.css" />

    <style>
        .fb_iframe_widget {
            line-height: 10px !important;
            width: 130px !important;
        }
        
        #___plusone_0,
        #___plusone_1 {
            width: 67px !important;
        }
        
        #map {
            padding: 0 !important;
            margin: 0 !important;
            width: 100%;
            height: 450px;
            overflow: hidden;
        }
    </style>
    <script>
        var bodyClasses = 'layout-home';
        var pagetypeCssData = [
            {
                test: 'layout-home',
                files: ['main.min.css', 'styles.min.css', 'owl.min.css']
           }, {
                test: 'layout-subpage',
                files: ['main.min.css', 'styles.min.css', 'subpages.min.css']
           }, {
                test: 'layout-services',
                files: ['main.min.css', 'styles.min.css', 'services.min.css']
           }, {
                test: 'layout-forms',
                files: ['main.min.css', 'styles.min.css', 'forms.min.css']
           }
        ];

        function stringHasText(e, t) {
            return e.indexOf(t) >= 0 ? !0 : !1
        }
        var cb = function () {
                function e(e) {
                    setTimeout(function () {
                        e.media = "all"
                    })
                }
                for (var t in pagetypeCssData)
                    if (stringHasText(bodyClasses, pagetypeCssData[t].test))
                        for (var a = 0, n = pagetypeCssData[t].files.length; n > a; a++) {
                            var s = document.createElement("link");
                            s.rel = "stylesheet", s.href = "../content/css/" + pagetypeCssData[t].files[a], s.media = "only x";
                            var i = document.getElementsByTagName("script")[0];
                            i.parentNode.insertBefore(s, i), e(s)
                        }
            },
            raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
        raf ? raf(cb) : window.addEventListener("load", cb);
    </script>
</head>

<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '643116899164857',
                xfbml: true,
                version: 'v2.4'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <header id="header">
        <section class="topbar w100">
            <div class="gridContainer">
                <h6><span class="molow">Hivatalos PADI </span>Dive Center és Oktatóterem<span><br/>1077 Budapest, Rózsa utca 27.  |  +36&nbsp;30&nbsp;587&nbsp;5989  |  info<span>&#64;</span>diveworld.hu</span></h6>
                <img src="../content/image/padi-logo-1.svg" alt="PADI logo" />
            </div>
        </section>
        <div class="gridContainer">
            <a href="https://diveworld.hu" title="Búvártanfolyam, búvároktatás - DiveWorld Hungary" class="logo">
                <h1 class="alpha">Búvártanfolyam, búvároktatás - DiveWorld Hungary</h1>
                <!--<img src="../content/image/diveworld-logo.png" alt="Búvártanfolyam DiveWorld Hungary logo" />-->
                <img src="../content/image/diveworld-logo.svg" alt="Búvártanfolyam DiveWorld Hungary logo" class="mobile-only" />
            </a>
            <a id="hamburger" class="hmbrgr one toggleMenu" href="#" title="hamburger navigation"></a>
            <nav class="dropdowns">
                <ul class="nav">
                    <li class="toggle"><a title="Búvártanfolyam">Búvártanfolyam</a>
                        <ul class="sub">
                            <li><a href="buvartanfolyam-padi-kezdo.html" title="Búvártanfolyam PADI kezdő">PADI kezdő búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-kalandkereso.html" title="Búvártanfolyam PADI kalandkereső">PADI kalandkereső búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-halado.html" title="Búvártanfolyam PADI haladó">PADI haladó búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-melymerulo.html" title="Búvártanfolyam PADI mélymerülő">PADI mélymerülő búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-roncsmerulo.html" title="Búvártanfolyam PADI roncsmerülő">PADI roncsmerülő búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-dusitott-levegos.html" title="Búvártanfolyam PADI dúsított levegős">PADI dúsított levegős búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-mesterbuvar.html" title="Búvártanfolyam PADI mesterbúvár">PADI mesterbúvár búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-mentobuvar.html" title="Búvártanfolyam PADI mentőbúvár">PADI mentőbúvár búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-merulesvezeto.html" title="Búvártanfolyam PADI merülésvezető">PADI merülésvezető búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam.html" title="Búvártanfolyam Összes megtekintés">Összes búvártanfolyam megtekintése</a></li>
                        </ul>
                    </li>
                    <li class="toggle"><a title="Búvártúra">Búvártúra</a>
                        <ul class="sub">
                            <li><a href="index.html#hamarosan-megyunk" title="Búvártúra hamarosan megyünk">Hamarosan megyünk</a></li>
                            <li><a href="buvartura-krk-diveworld.html" title="Búvártúra Krk Diveworld">Búvártúra Krk (Horvátország)</a></li>
                            <li><a href="buvartura-rovinj-diveworld.html" title="Búvártúra Rovinj Diveworld">Búvártúra Rovinj (Horvátország)</a></li>
                            <li><a href="buvartura-senj-diveworld.html" title="Búvártúra Senj Diveworld">Búvártúra Senj (Horvátország)</a></li>
                            <li><a href="buvartura-egyiptom-deli-hajos-szafari-diveworld.html" title="Búvártúra Egyiptom Déli Hajós szafari Diveworld">Búvártúra Egyiptom Déli Hajós szafari</a></li>
                            <li><a href="buvartura-egyiptom-eszaki-hajos-szafari-diveworld.html" title="Búvártúra Egyiptom Északi Hajós szafari Diveworld">Búvártúra Egyiptom Északi Hajós szafari</a></li>
                            <li><a href="buvartura-egyiptom-daedalus-es-brothers-hajos-szafari-diveworld.html" title="Búvártúra Egyiptom Daedalus és Brothers Hajós szafari Diveworld">Búvártúra Egyiptom Daedalus és Brothers Hajós szafari</a></li>
                            <li><a href="buvartura.html" title="Búvártanfolyam Összes megtekintés">Összes búvártanfolyam megtekintése</a></li>
                        </ul>
                    </li>
                    <li><a href="buvaroktatas-csapatepites.html" title="Csapatépítés">Csapatépítés</a>
                    </li>
                    <li><a href="buvartanfolyam-tudnivalok.html" title="Búvártanfolyam Tudnivalók">Tudnivalók</a>
                    </li>
                    <li><a href="buvartanfolyam-oktatok.html" title="Búvártanfolyam, búvároktatás Bemutatkozás">Bemutatkozás</a>
                    </li>
                    <li><a href="diveworld-buvartura-geleria.html" title="DiveWorld Búvártúra Galéria">Galéria</a>
                    </li>
                    <li><a href="blog-index.html" title="DiveWorld Búvártanfolyam Blog">Blog</a>
                    </li>
                    <li><a href="padi-buvartanfolyam-kapcsolat.html" title="PADI Búvártanfolyam Kapcsolat">Kapcsolat</a>
                    </li>
                    <li><a href="buvartanfolyam-elott-probamerules.html" title="Búvártanfolyam előtti Próbamerülés" class="c_red">Próbamerülés</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section class="page404 w100">
        <div class="gridContainer clearfix">
            <h1>404</h1>
            <h2>A KERESETT OLDAL NEM TALÁLHATÓ</h2>
            <h3>Úgy tűnik eltévedtél...</h3>
            <a href="index.html" title="" class="btn btn_1 normal">VISSZA A KEZDŐLAPRA</a>
        </div>
    </section>

    <!-- Loading graphworks Framework JS components -->
    <script type="text/javascript" data-main="../content/js/layout/main" src="../content/js/core/require.js"></script>

    <!--twitter.js-->
    <script>
        ! function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');
    </script>

    <!--google.js-->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

</body>

</html>