<!doctype html>
<html itemscope itemtype="http://schema.org/" lang="hu">

<head>
    <!-- just for testing-->
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- just for testing-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Búvártanfolyam, búvártúra - DiveWorld | diveworld.hu</title>
    <meta name="description" content="Búvártanfolyam, búvártúra, búvárkodás? Érdekel? Akkor a DiveWorld búváriskolába búvártanfolyamainkon megtanulhatod.">

    <link rel="apple-touch-icon" sizes="57x57" href="../content/image/favico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../content/image/favico//apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../content/image/favico//apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../content/image/favico//apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../content/image/favico//apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../content/image/favico//apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../content/image/favico//apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../content/image/favico//apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../content/image/favico//apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../content/image/favico//android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../content/image/favico//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../content/image/favico//favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../content/image/favico//favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Google robots -->
    <meta name="robots" content="index, follow" />
    <meta name="Robots" content="All">
    <meta name="web_author" content="graphworks creative | www.graph.works">

    <meta property="og:url" content="<?php echo \System\Http\Request::getInstance()->getCompletePath(); ?>" />
    <meta property="og:site_name" content="www.graphworks-creative.co.uk" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="graphworks" />
    <meta name="twitter:site:id" content="93684509" />

    <meta property="fb:admins" content="100005720717709" />

    <link href="https://plus.google.com/113056214204479975096" rel="publisher" />
    <link href="https://plus.google.com/113056214204479975096" rel="author" />

    <link rel="stylesheet" type="text/css" href="../content/css/preload.min.css" />

    <style>
        #map,.map{padding:0!important;margin:0!important}.fb_iframe_widget{line-height:10px!important;width:130px!important}#___plusone_0,#___plusone_1{width:67px!important}#map{width:100%;height:350px;overflow:hidden}.alpha{color:transparent}
    </style>
    <script>
        var bodyClasses = 'layout-services';
        var pagetypeCssData = [
            {
                test: 'layout-home',
                files: ['main.min.css', 'styles.min.css', 'owl.min.css']
           }, {
                test: 'layout-subpage',
                files: ['main.min.css', 'styles.min.css', 'subpages.min.css']
           }, {
                test: 'layout-services',
                files: ['main.min.css', 'styles.min.css']
           }, {
                test: 'layout-forms',
                files: ['main.min.css', 'styles.min.css', 'forms.min.css']
           }
        ];

        function stringHasText(e, t) {
            return e.indexOf(t) >= 0 ? !0 : !1
        }
        var cb = function () {
                function e(e) {
                    setTimeout(function () {
                        e.media = "all"
                    })
                }
                for (var t in pagetypeCssData)
                    if (stringHasText(bodyClasses, pagetypeCssData[t].test))
                        for (var a = 0, n = pagetypeCssData[t].files.length; n > a; a++) {
                            var s = document.createElement("link");
                            s.rel = "stylesheet", s.href = "../content/css/" + pagetypeCssData[t].files[a], s.media = "only x";
                            var i = document.getElementsByTagName("script")[0];
                            i.parentNode.insertBefore(s, i), e(s)
                        }
            },
            raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
        raf ? raf(cb) : window.addEventListener("load", cb);
    </script>
</head>

<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '643116899164857',
                xfbml: true,
                version: 'v2.4'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <header id="header">
        <section class="topbar w100">
            <div class="gridContainer">
                <h6><span class="molow">Hivatalos PADI </span>Dive Center és Oktatóterem<span><br/>1077 Budapest, Rózsa utca 27.  |  +36&nbsp;30&nbsp;587&nbsp;5989  |  info<span>&#64;</span>diveworld.hu</span></h6>
                <img src="../content/image/padi-logo-1.svg" alt="PADI logo" />
            </div>
        </section>
        <div class="gridContainer">
            <a href="https://diveworld.hu" title="Búvártanfolyam, búvároktatás - DiveWorld Hungary" class="logo">
                <img src="../content/image/diveworld-logo.png" alt="Búvártanfolyam DiveWorld Hungary logo" />
                <h1 class="alpha">Búvártanfolyam, búvároktatás - DiveWorld Hungary</h1>
            </a>
            <a id="hamburger" class="hmbrgr one toggleMenu" href="#" title="hamburger navigation"></a>
            <nav class="dropdowns">
                <ul class="nav">
                    <li class="toggle"><a href="buvartanfolyam.html" title="Búvártanfolyam">Búvártanfolyam</a>
                        <ul class="sub">
                            <li><a href="buvartanfolyam-padi-kezdo.html" title="Búvártanfolyam PADI kezdő">PADI kezdő búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-kalandkereso.html" title="Búvártanfolyam PADI kalandkereső">PADI kalandkereső búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-halado.html" title="Búvártanfolyam PADI haladó">PADI haladó búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-melymerulo.html" title="Búvártanfolyam PADI mélymerülő">PADI mélymerülő búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-roncsmerulo.html" title="Búvártanfolyam PADI roncsmerülő">PADI roncsmerülő búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-dusitott-levegos.html" title="Búvártanfolyam PADI dúsított levegős">PADI dúsított levegős búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-mesterbuvar.html" title="Búvártanfolyam PADI mesterbúvár">PADI mesterbúvár búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-mentobuvar.html" title="Búvártanfolyam PADI mentőbúvár">PADI mentőbúvár búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-merulesvezeto.html" title="Búvártanfolyam PADI merülésvezető">PADI merülésvezető búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam.html" title="Búvártanfolyam Összes megtekintés">Összes búvártanfolyam megtekintése</a></li>
                        </ul>
                    </li>
                    <li class="toggle"><a href="buvartura.html" title="Búvártúra" class="current">Búvártúra</a>
                        <ul class="sub">
                            <li><a href="index.html#hamarosan-megyunk" title="Búvártúra hamarosan megyünk">Hamarosan megyünk</a></li>
                            <li><a href="buvartura-krk-diveworld.html" title="Búvártúra Krk Diveworld">Búvártúra Krk (Horvátország)</a></li>
                            <li><a href="buvartura-rovinj-diveworld.html" title="Búvártúra Rovinj Diveworld">Búvártúra Rovinj (Horvátország)</a></li>
                            <li><a href="buvartura-senj-diveworld.html" title="Búvártúra Senj Diveworld">Búvártúra Senj (Horvátország)</a></li>
                            <li><a href="buvartura-egyiptom-deli-hajos-szafari-diveworld.html" title="Búvártúra Egyiptom Déli Hajós szafari Diveworld">Búvártúra Egyiptom Déli Hajós szafari</a></li>
                            <li><a href="buvartura-egyiptom-eszaki-hajos-szafari-diveworld.html" title="Búvártúra Egyiptom Északi Hajós szafari Diveworld">Búvártúra Egyiptom Északi Hajós szafari</a></li>
                            <li><a href="buvartura-egyiptom-daedalus-es-brothers-hajos-szafari-diveworld.html" title="Búvártúra Egyiptom Daedalus és Brothers Hajós szafari Diveworld">Búvártúra Egyiptom Daedalus és Brothers Hajós szafari</a></li>
                            <li><a href="buvartura.html" title="Búvártúra Összes megtekintés">Összes búvártúra megtekintése</a></li>
                        </ul>
                    </li>
                    <li><a href="buvaroktatas-csapatepites.html" title="Csapatépítés">Csapatépítés</a>
                    </li>
                    <li><a href="buvartanfolyam-tudnivalok.html" title="Búvártanfolyam Tudnivalók">Tudnivalók</a>
                    </li>
                    <li><a href="buvartanfolyam-oktatok.html" title="Búvártanfolyam, búvároktatás Bemutatkozás">Bemutatkozás</a>
                    </li>
                    <li><a href="diveworld-buvartura-geleria.html" title="DiveWorld Búvártúra Galéria">Galéria</a>
                    </li>
                    <li><a href="blog-index.html" title="DiveWorld Búvártanfolyam Blog">Blog</a>
                    </li>
                    <li><a href="padi-buvartanfolyam-kapcsolat.html" title="PADI Búvártanfolyam Kapcsolat">Kapcsolat</a>
                    </li>
                    <li><a href="buvartanfolyam-elott-probamerules.html" title="Búvártanfolyam előtti Próbamerülés" class="c_red">Próbamerülés</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <section class="first rotator w100">
        <img src="../content/image/banners/banner-buvarturak.jpg" alt="búvártúrák banner" />
    </section>

    <section class="trips">
        <div class="gridContainer">
            <div class="col-1">
                <h2>BÚVÁRTÚRÁK</h2>
                <h3>Búvárkodás, szórakozás, gyere el velünk merülni</h3>
            </div>
            <div class="col-2">
                <img src="../content/image/trips/bali.jpg" alt="búvártúra bali" />
            </div>
            <div class="col-2">
                <h3>BALI - AZ ISTENEK SZIGETE BÚVÁRTÚRA</h3>
                <p>Bali nem csak a természeti látványosságaival, különleges kultúrájával és az emberek kedvességével varázsolja el a turisták millióit, hanem a búvárok számára is tartogat rengeteg meglepetést a gazdag víz alatti világával. A világ egyik legnépszerűbb nyaralóhelye, egyedülálló kultúrával, légkörrel rendelkezik, mely egyaránt varázslatos és misztikus.</p>
                <h4>Következő búvártúra: <br/><b>2016 március 16-30-ig</b></h4>
                <a href="" title="" class="btn btn_2 normal">Tudj meg többet</a>
                <a href="" title="" class="btn btn_3 normal">Jelentkezem</a>
            </div>
                
            <div class="cleaner"></div>
            <div class="cleaner"></div>
            
            <div class="col-2">
                <img src="../content/image/trips/bali.jpg" alt="búvártúra bali" />
            </div>
            <div class="col-2">
                <h3>BALI - AZ ISTENEK SZIGETE BÚVÁRTÚRA</h3>
                <p>Bali nem csak a természeti látványosságaival, különleges kultúrájával és az emberek kedvességével varázsolja el a turisták millióit, hanem a búvárok számára is tartogat rengeteg meglepetést a gazdag víz alatti világával. A világ egyik legnépszerűbb nyaralóhelye, egyedülálló kultúrával, légkörrel rendelkezik, mely egyaránt varázslatos és misztikus.</p>
                <h4>Következő búvártúra: <br/><b>2016 március 16-30-ig</b></h4>
                <a href="" title="" class="btn btn_2 normal">Tudj meg többet</a>
                <a href="" title="" class="btn btn_3 normal">Jelentkezem</a>
            </div>
            <div class="cleaner h40"></div>
        </div>
    </section>

    <footer>
        <section class="partners">
            <div class="gridContainer">
                <div class="col-1">
                    <div id="owl">
                        <div class="item"><img src="../content/image/partners/cressi.png" alt="Búvár Partnerek Cressi" />
                        </div>
                        <div class="item"><img src="../content/image/partners/aqua-lung.png" alt="Búvár Partnerek Aqualung" />
                        </div>
                        <div class="item"><img src="../content/image/partners/scubapro.png" alt="Búvár Partnerek Scubapro" />
                        </div>
                        <div class="item"><img src="../content/image/partners/suunto.png" alt="Búvár Partnerek Suunto" />
                        </div>
                        <div class="item"><img src="../content/image/partners/diveworld.png" alt="Búvár Partnerek DiveWorls" />
                        </div>
                        <div class="item"><img src="../content/image/partners/kowalski.png" alt="Búvár Partnerek Kowalski" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="gridContainer">
            <div class="col-4">
                <h4>Oldaltérkép</h4>
                <ul>
                    <li><a href="buvartanfolyam.html" title="Búvártanfolyam">Búvártanfolyam</a>
                    </li>
                    <li><a href="buvartura.html" title="Búvártúra">Búvártúra</a>
                    </li>
                    <li><a href="buvaroktatas-csapatepites.html" title="Csapatépítés">Csapatépítés</a>
                    </li>
                    <li><a href="buvartanfolyam-tudnivalok.html" title="Búvártanfolyam Tudnivalók">Tudnivalók</a>
                    </li>
                    <li><a href="buvartanfolyam-oktatok.html" title="Búvártanfolyam, búvároktatás Bemutatkozás">Bemutatkozás</a>
                    </li>
                    <li><a href="diveworld-buvartura-geleria.html" title="DiveWorld Búvártúra Galéria">Galéria</a>
                    </li>
                    <li><a href="padi-buvartanfolyam-kapcsolat.html" title="PADI Búvártanfolyam Kapcsolat">Kapcsolat</a>
                    </li>
                    <li><a href="buvartanfolyam-elott-probamerules.html" title="Búvártanfolyam előtti Próbamerülés">Próbamerülés</a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <h4>Búvártanfolyamok</h4>
                <ul>
                    <li><a href="buvartanfolyam-padi-kezdo.html" title="Búvártanfolyam PADI kezdő">PADI kezdő búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-kalandkereso.html" title="Búvártanfolyam PADI kalandkereső">PADI kalandkereső búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-halado.html" title="Búvártanfolyam PADI haladó">PADI haladó búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-melymerulo.html" title="Búvártanfolyam PADI mélymerülő">PADI mélymerülő búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-roncsmerulo.html" title="Búvártanfolyam PADI roncsmerülő">PADI roncsmerülő búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-dusitott-levegos.html" title="Búvártanfolyam PADI dúsított levegős">PADI dúsított levegős búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-mesterbuvar.html" title="Búvártanfolyam PADI mesterbúvár">PADI mesterbúvár búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-mentobuvar.html" title="Búvártanfolyam PADI mentőbúvár">PADI mentőbúvár búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-merulesvezeto.html" title="Búvártanfolyam PADI merülésvezető">PADI merülésvezető búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam.html" title="Búvártanfolyam Összes megtekintés">Összes búvártanfolyam megtekintése</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h4>Búvártúrák</h4>
                <ul>
                    <li><a href="index.html#hamarosan-megyunk" title="Búvártúra hamarosan megyünk">Hamarosan megyünk</a></li>
                    <li><a href="buvartura-krk-diveworld.html" title="Búvártúra Krk Diveworld">Búvártúra Krk (Horvátország)</a></li>
                    <li><a href="buvartura-rovinj-diveworld.html" title="Búvártúra Rovinj Diveworld">Búvártúra Rovinj (Horvátország)</a></li>
                    <li><a href="buvartura-senj-diveworld.html" title="Búvártúra Senj Diveworld">Búvártúra Senj (Horvátország)</a></li>
                    <li><a href="buvartura-kaprije-diveworld.html" title="Búvártúra Kaprije Diveworld">Búvártúra Kaprije (Horvátország)</a></li>
                    <li><a href="buvartura-egyiptom-deli-hajos-szafari-diveworld.html" title="Búvártúra Egyiptom Déli Hajós szafari Diveworld">Búvártúra Egyiptom Déli Hajós szafari</a></li>
                    <li><a href="buvartura-egyiptom-eszaki-hajos-szafari-diveworld.html" title="Búvártúra Egyiptom Északi Hajós szafari Diveworld">Búvártúra Egyiptom Északi Hajós szafari</a></li>
                    <li><a href="buvartura-egyiptom-daedalus-es-brothers-hajos-szafari-diveworld.html" title="Búvártúra Egyiptom Daedalus és Brothers Hajós szafari Diveworld">Búvártúra Egyiptom Daedalus és Brothers Hajós szafari</a></li>
                    <li><a href="buvartura-egyiptom-hurghada-diveworld.html" title="Búvártúra Egyiptom Hurghada Diveworld">Búvártúra Egyiptom Hurghada</a></li>
                    <li><a href="buvartura-egyiptom-dahab-diveworld.html" title="Búvártúra Egyiptom Dahab Diveworld">Búvártúra Egyiptom Dahab</a></li>
                    <li><a href="buvartura-egyiptom-sharm-diveworld.html" title="Búvártúra Egyiptom Sharm El Sheikh Diveworld">Búvártúra Egyiptom Sharm El Sheikh</a></li>
                    <li><a href="buvartura-thaifold-similan-diveworld.html" title="Búvártúra Thaiföld Phuket - Similan-Szigetek Diveworld">Búvártúra Thaiföld Phuket - Similan-Szigetek</a></li>
                    <li><a href="buvartura-bali-diveworld.html" title="Búvártúra Bali az Istenek szigete Diveworld">Búvártúra Bali az Istenek szigete</a></li>
                    <li><a href="buvartura-nemo33-diveworld.html" title="Búvártúra Belgium NEMO33 Diveworld">Búvártúra Belgium NEMO33</a></li>
                    <li><a href="buvartura.html" title="Búvártúra Összes megtekintés">Összes búvártúra megtekintése</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h4>Egyéb</h4>
                <ul>
                    <li><a href="../content/docs/adatvedelem.pdf" title="adatvédelmi nyiltakozat" rel="nofollow">adatvédelmi nyiltakozat</a></li>
                    <li><a href="buvartanfolyam-buvartura-diveworld-hirlevel.html" title="Búvártanfolyam búvártúra DiveWorld hírlevélre feliratkozás">hírlevél feliratkozás</a></li>
                    <li><a href="diveworld-hirlevel-leiratkozas" title="DiveWorld hírlevél leiratkozás">Hírlevél leiratkozás</a></li>
                    <li><a href="diveworld-visszajelzesek.html" title="DiveWorld Visszajelzések">Visszajelzések</a></li>
                    <li><a href="diveworld-visszajelzesek.html" title="DiveWorld Viszontlinkek">Viszontlinkek</a></li>
                    <li><a href="diveworld-ajandekutalvany.html" title="DiveWorld Ajándékutalvány">Ajándékutalvány</a></li>
                    <li><a href="aquaworld-mokamerules.html" title="AquaWorld mókamerülés">AquaWorld mókamerülés</a></li>
                </ul>
            </div>
        </div>

        <section class="social">
            <h2 class="alpha">DiveWorld Social, hírlevélre feliratkozás</h2>
            <div class="gridContainer">
                <div class="col-2">
                    <h4>Kövess minket</h4>
                    <div class="social">
                        <a href="https://www.facebook.com/" title="DiveWorld on Facebook" class="fb"></a>
                        <a href="https://www.linkedin.com/company/" title="DiveWorld on LinkedIn" class="in"></a>
                        <a href="https://twitter.com/" title="DiveWorld on Twitter" class="tw"></a>
                        <a href="https://vimeo.com/" title="DiveWorld on Vimeo" class="vm"></a>
                        <a href="https://plus.google.com/" title="DiveWorld on Plus" class="pl"></a>
                    </div>
                </div>
                <div class="col-2">
                    <h4>Iratkozz fel hírlevelünkre</h4>
                    <form class="newsletter">
                        <input type="text" name="newsletter-name" placeholder="Név" />
                        <input type="text" name="newsletter-name" placeholder="Email cím" />
                        <input type="submit" name="submit" class="btn normal btn_1" value="Feliratkozás" />
                    </form>
                </div>
            </div>
        </section>
        <div class="cleaner"></div>

        <div class="copyright">
            <div class="gridContainer">
                <span class="copy">copyright © 2015 <a href="https://diveworld.hu" title="Búvártanfolyam, búvártúra - DiveWorld | diveworld.hu">DiveWorld Hungary</a></span>
                <span class="designed">made by <a href="http://www.graph.works" title="graphworks creative ltd. | web, digital, marketing">graphworks creative</a></span>
            </div>
        </div>
    </footer>

    <!-- Loading graphworks Framework JS components -->
    <script type="text/javascript" data-main="../content/js/layout/main" src="../content/js/core/require.js"></script>

    <!--twitter.js-->
    <script>
        ! function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');
    </script>

    <!--google.js-->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</body>

</html>