<!doctype html>
<html itemscope itemtype="http://schema.org/" lang="hu">

<head>
    <!-- just for testing-->
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- just for testing-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Búvártanfolyam, búvártúra - DiveWorld | diveworld.hu</title>
    <meta name="description" content="Búvártanfolyam, búvártúra, búvárkodás? Érdekel? Akkor a DiveWorld búváriskolába búvártanfolyamainkon megtanulhatod.">

    <link rel="stylesheet" type="text/css" href="../content/css/preload.min.css" />

    <style>
        #map,.map{padding:0!important;margin:0!important}.fb_iframe_widget{line-height:10px!important;width:130px!important}#___plusone_0,#___plusone_1{width:67px!important}#map{width:100%;height:350px;overflow:hidden}.alpha{color:transparent}
    </style>
    <script>
        var bodyClasses = 'layout-subpage';
        var pagetypeCssData = [
            {
                test: 'layout-home',
                files: ['main.min.css', 'styles.min.css', 'owl.min.css']
           }, {
                test: 'layout-subpage',
                files: ['main.min.css', 'styles.min.css', 'subpages.min.css']
           }, {
                test: 'layout-services',
                files: ['main.min.css', 'styles.min.css']
           }, {
                test: 'layout-forms',
                files: ['main.min.css', 'styles.min.css', 'forms.min.css']
           }
        ];

        function stringHasText(e, t) {
            return e.indexOf(t) >= 0 ? !0 : !1
        }
        var cb = function () {
                function e(e) {
                    setTimeout(function () {
                        e.media = "all"
                    })
                }
                for (var t in pagetypeCssData)
                    if (stringHasText(bodyClasses, pagetypeCssData[t].test))
                        for (var a = 0, n = pagetypeCssData[t].files.length; n > a; a++) {
                            var s = document.createElement("link");
                            s.rel = "stylesheet", s.href = "../content/css/" + pagetypeCssData[t].files[a], s.media = "only x";
                            var i = document.getElementsByTagName("script")[0];
                            i.parentNode.insertBefore(s, i), e(s)
                        }
            },
            raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
        raf ? raf(cb) : window.addEventListener("load", cb);
    </script>
</head>

<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '643116899164857',
                xfbml: true,
                version: 'v2.4'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <header id="header">
        <section class="topbar w100">
            <div class="gridContainer">
                <h6><span class="molow">Hivatalos PADI </span>Dive Center és Oktatóterem<span><br/>1077 Budapest, Rózsa utca 27.  |  +36&nbsp;30&nbsp;587&nbsp;5989  |  info<span>&#64;</span>diveworld.hu</span></h6>
                <img src="../content/image/padi-logo-1.svg" alt="PADI logo" />
            </div>
        </section>
        <div class="gridContainer">
            <a href="https://diveworld.hu" title="Búvártanfolyam, búvároktatás - DiveWorld Hungary" class="logo">
                <img src="../content/image/diveworld-logo.png" alt="Búvártanfolyam DiveWorld Hungary logo" />
                <h1 class="alpha">Búvártanfolyam, búvároktatás - DiveWorld Hungary</h1>
            </a>
            <a id="hamburger" class="hmbrgr one toggleMenu" href="#" title="hamburger navigation"></a>
            <nav class="dropdowns">
                <ul class="nav">
                    <li class="toggle"><a href="buvartanfolyam.html" title="Búvártanfolyam" class="current">Búvártanfolyam</a>
                        <ul class="sub">
                            <li><a href="buvartanfolyam-padi-kezdo.html" title="Búvártanfolyam PADI kezdő">PADI kezdő búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-kalandkereso.html" title="Búvártanfolyam PADI kalandkereső">PADI kalandkereső búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-halado.html" title="Búvártanfolyam PADI haladó">PADI haladó búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-melymerulo.html" title="Búvártanfolyam PADI mélymerülő">PADI mélymerülő búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-roncsmerulo.html" title="Búvártanfolyam PADI roncsmerülő">PADI roncsmerülő búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-dusitott-levegos.html" title="Búvártanfolyam PADI dúsított levegős">PADI dúsított levegős búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-mesterbuvar.html" title="Búvártanfolyam PADI mesterbúvár">PADI mesterbúvár búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-mentobuvar.html" title="Búvártanfolyam PADI mentőbúvár">PADI mentőbúvár búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam-padi-merulesvezeto.html" title="Búvártanfolyam PADI merülésvezető">PADI merülésvezető búvártanfolyam</a></li>
                            <li><a href="buvartanfolyam.html" title="Búvártanfolyam Összes megtekintés">Összes búvártanfolyam megtekintése</a></li>
                        </ul>
                    </li>
                    <li class="toggle"><a href="buvartura.html" title="Búvártúra">Búvártúra</a>
                        <ul class="sub">
                            <li><a href="index.html#hamarosan-megyunk" title="Búvártúra hamarosan megyünk">Hamarosan megyünk</a></li>
                            <li><a href="buvartura-krk-diveworld.html" title="Búvártúra Krk Diveworld">Búvártúra Krk (Horvátország)</a></li>
                            <li><a href="buvartura-rovinj-diveworld.html" title="Búvártúra Rovinj Diveworld">Búvártúra Rovinj (Horvátország)</a></li>
                            <li><a href="buvartura-senj-diveworld.html" title="Búvártúra Senj Diveworld">Búvártúra Senj (Horvátország)</a></li>
                            <li><a href="buvartura-egyiptom-deli-hajos-szafari-diveworld.html" title="Búvártúra Egyiptom Déli Hajós szafari Diveworld">Búvártúra Egyiptom Déli Hajós szafari</a></li>
                            <li><a href="buvartura-egyiptom-eszaki-hajos-szafari-diveworld.html" title="Búvártúra Egyiptom Északi Hajós szafari Diveworld">Búvártúra Egyiptom Északi Hajós szafari</a></li>
                            <li><a href="buvartura-egyiptom-daedalus-es-brothers-hajos-szafari-diveworld.html" title="Búvártúra Egyiptom Daedalus és Brothers Hajós szafari Diveworld">Búvártúra Egyiptom Daedalus és Brothers Hajós szafari</a></li>
                            <li><a href="buvartura.html" title="Búvártúra Összes megtekintés">Összes búvártúra megtekintése</a></li>
                        </ul>
                    </li>
                    <li><a href="buvaroktatas-csapatepites.html" title="Csapatépítés">Csapatépítés</a>
                    </li>
                    <li><a href="buvartanfolyam-tudnivalok.html" title="Búvártanfolyam Tudnivalók">Tudnivalók</a>
                    </li>
                    <li><a href="buvartanfolyam-oktatok.html" title="Búvártanfolyam, búvároktatás Bemutatkozás">Bemutatkozás</a>
                    </li>
                    <li><a href="diveworld-buvartura-geleria.html" title="DiveWorld Búvártúra Galéria">Galéria</a>
                    </li>
                    <li><a href="blog-index.html" title="DiveWorld Búvártanfolyam Blog">Blog</a>
                    </li>
                    <li><a href="padi-buvartanfolyam-kapcsolat.html" title="PADI Búvártanfolyam Kapcsolat">Kapcsolat</a>
                    </li>
                    <li><a href="buvartanfolyam-elott-probamerules.html" title="Búvártanfolyam előtti Próbamerülés" class="c_red">Próbamerülés</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <section class="first rotator w100">
        <img src="../content/image/banners/banner-buvartanfolyam-owd.jpg" alt="búvártanfolyam PADI owd banner" />
    </section>

    <section class="course-one">
        <div class="gridContainer">

                <h2>OPEN WATER DIVER <span>- Kezdő búvártanfolyam</span></h2>
                
                <main>
                    <p>Nem kell megelégedned azzal, hogy a felszínen úszkálsz, a víz alatti világ bárki számára elérhető.
                    <br/>Te is lehetsz búvár!
                    <br/>A búvárkodás a legbiztonságosabb sportok közé tartozik. Nincs mitől tartanod! Gondolj csak bele, már 10 éves kortól elkezdhető a PADI kezdő búvártanfolyam. Ha egy 10 éves meg tudja tanulni és búvárrá válhat, akkor nagyon nehéz nem lehet, nem igaz!?
                    <br/>Eddigi tapasztalataink szerencsére azt igazolják, hogy tudunk segíteni abban, hogy félelmedet bátorságra, bátortalanságodat teljesítményre, félénkséged önbizalomra és érdeklődésed szenvedélyre váltsuk.
                    <br/>A búvártanfolyamon minden elméleti tudást, búvár készséget megtanítunk Neked, amire szükséged lesz ahhoz, hogy a tengerekben, óceánokban, édesvízben és folyókban biztonsággal merülhess.</p>
                    
                    <h4 class="paros">PÁROS KEDVEZMÉNY AKCIÓNK KERETÉBEN, AMENNYIBEN A BÚVÁRTANFOLYAMRA HOZOD A PÁRODAT, BARÁTODAT, ISMERŐSÖDET, ÚGY KETTŐTÖKNEK ÖSSZESEN 79.900,- FT A TANFOLYAM (+ KÁRTYADÍJAK)</h4>
                    
                    <p class="red"><br/>A kezdő búvártanfolyamhoz most egy BOAT DIVER (hajóról merülő) búvártanfolyamot adunk ajándékba.</p>
                    <p>(A Boat diver tanfolyam elengedhetetlen amennyiben hajóról merülsz majd, akár egy szafarin, akár a vizsgamerüléseden Horvátországban. A Boat diver tanfolyam díja 30.000,- Ft + kártyadíj. Fenti akciónk keretében a kezdő búvártanfolyam elvégzése esetén csak a kártyadíj fizetendő.)</p>
                    
                    <div class="cleaner h20"></div>
                    
                    <h3>Miről is szól a búvártanfolyam?</h3>
                    <h4>A búvárkodás elmélete</h4>
                    <p>A búvárkodás elmélete könnyen elsajátítható, a mindennapi életünkben is felismerhető, alapszintű fizikából áll, melyben alapvető törvényeket kell tudnunk értelmezni. Megtanítjuk a tömeg, a térfogat és a sűrűség egymáshoz való viszonyát, illetve a búvárkodás egyéb szabályait, biztonsági előírásait.<br/>
Az elméleti tudást a tankönyvből és oktatói előadás/konzultáció segítségével adjuk át Neked. A tanfolyami előadások alkalmával felteheted kérdéseidet, melyek kétséget ébresztenek, vagy tisztázatlanok számodra.
Azért, hogy a búvártanfolyamon tanultakat mindig megfelelően tudd alkalmazni búvárrá válásod után is, időről-időre ismételd át a PADI Go-Dive tankönyvet, melyet a búvártanfolyam részeként megkapsz.<br/>
A búvártanfolyam elméleti részét egy tudás áttekintő teszt zárja le. A tesztben ejtett esetleges hibákat részletesen, minden kétséget kizáróan átbeszéljük és megértetjük a tanulókkal.</p>

                    <h4>Gyakorlati búvárkészségek</h4>
                    <p>A búvártanfolyam keretében megismertetjük a légzőkészülékes búvárkodás alapjául szolgáló búvárfelszereléseket.<br/>
Felkészítünk a búvárfelszerelés helyes használatára, valamint arra, hogyan kezeld a vészhelyzeteket. Természetesen vészhelyzetek ritkán fordulnak elő és 99,9%-ban Te is meg fogod tudni oldani őket, épp ezért a búvártanfolyam része, hogy a veszélyes helyzetekre való lehetséges megoldásokat megtanítsuk Neked. A búvártanfolyam gyakorlati elemeit ún. "védett vízben" (uszodában), 1,8 méter mély medencében gyakoroljuk, egészen addig, amíg szükséges.</p>

                    <h4>Vizsgamerülések</h4>
                    <p>A gyakorlati búvár készségek elsajátítása és gyakorlása után már megfelelő vízbiztonsággal fogsz rendelkezni ahhoz, hogy vizsgamerüléseket is elvégezd. A vizsgamerülések alkalmával, - oktatód és segítői felügyeletében - be kell tudnod mutatni azokat a gyakorlati elemeket, amelyeket a védett vízben tanultál. A búvártanfolyam akkor ér véget számodra, ha a vizsgamerülések során helyesen bemutattad a korábban tanult búvár készségeket. Ezután már PADI - Open Water Diver - búvár leszel.</p>

                    <p>A merülési naplódba bejegyzett 4 vizsgamerülést, oktatód, a búvárigazolványának számával és aláírásával igazolja.<br/>
A nemzetközi PADI búvárigazolványt oktatód igényelheti meg, miután megfizetted a kártya díját és minden szükséges adatot, valamint igazolványképet oktatód rendelkezésére bocsátottál. A plasztikkártya, vagyis a fényképes búvárigazolványod körülbelül 4-6 héten belül érkezik majd meg.</p>

                    <h3 class="success">Nincsenek rejtett költségek!</h3>

                    <h4>Mi az a kártyadíj?</h4>
                    <p>A búvártanfolyam elvégzését követően a PADI kiállít számodra egy nemzetközileg ismert jogosítványt, fényképes plasztikkártya formájában. Ennek a kártyának az elkészítési díja 50 €-nak megfelelő forint.<br/>
Lehetőséged van támogatni, védeni Földünk óceánjait és tengereit a PADI Project AWARE programja keretében. A Project AWARE két fő problémára koncentrál: a cápák védelmére és az óceánba való szemetelésre. A kártya alapdíján felül tetszőleges összeggel támogathatod a Project AWARE programot.</p>
                    
                    <h4>Letölthető dokumentumok, melyek a búvártanfolyamra való beiratkozáshoz szükségesek lehetnek, 1&nbsp;példányban:</h4>
                    
                    <a class="download-pdf" href="">10175 - Kockázat- és felelősségvállalási nyilatkozat (PDF)</a>
                    <a class="download-pdf" href="">10063 - Egészségügyi nyilatkozat búvárkodáshoz (PDF)</a>
                    <a class="download-pdf" href="">10060 - Szabványos búvár biztonsági eljárások tudomásul-vételi nyilatkozat (PDF)</a>
                    
                    <div class="cleaner h40"></div>
                    <h3 class="tal">A KÖVETKEZŐ BÚVÁRTANFOLYAM IDŐPONTJA:<br/><span class="light">2015. SZEPTEMBER 7.</span></h3>
                    <h4 class="paros">PÁROS KEDVEZMÉNY AKCIÓNK KERETÉBEN, AMENNYIBEN A BÚVÁRTANFOLYAMRA HOZOD A PÁRODAT, BARÁTODAT, ISMERŐSÖDET, ÚGY KETTŐTÖKNEK ÖSSZESEN 79.900,- FT A TANFOLYAM (+ KÁRTYADÍJAK)</h4>
                    
                    <a href="" title="" class="btn btn_3 large">Jelentkezem</a>
                    <a href="" title="" class="btn btn_2 large">Visszahívást kérek</a>
                    
                    <div class="cleaner"></div>
                    
                    <p class="more-info"><a href="">Jelentkezz bátran</a>, vagy ha kérdésed van <a href="padi-buvartanfolyam-kapcsolat.html" title="PADI Búvártanfolyam Kapcsolat">keress fel minket!</a><br/>
                    A DiveWorld Hungary csapata a rendelkezésedre áll a +36 30 587 5989 és +36 70 250 3877 telefonszámokon, <br/>vagy az <a href="mailto:info@diveworld.hu">info@diveworld.hu</a> e-mail címre írhatsz nekünk.</p>
                    
                </main>
                
                <aside>
                    <h3>Következő búvártanfolyam</h3>
                    <span class="time">Augusztus 3-án  18:00 órától</span>
                    <span class="rem_time">6 nap 14 óra 20 perc múlva</span>
                    <br/>
                    <h4>Tanfolyam díja:</h4>
                    <span class="price"><b>40.000 Ft</b> + 50€ kártyadíj (PADI-nak fizetendő)</span>
                    <div class="cleaner h10"></div>
                    <a href="" title="" class="btn btn_3 large">Jelentkezem</a>
                    
                    <div class="cleaner"></div>
                    
                    <h4>További Open Water Diver tanfolyamok:</h4>
                    <span class="time">2015. szeptember 10.</span>
                    <span class="time">2015. október 14.</span>
                    <span class="time">2015. november 19.</span>
                    <span class="time">2015. december 10.</span>
                    
                    <div class="cleaner"></div>
                    
                    <h4>Az ár tartalmazza:</h4>
                    <ul>
                        <li>a PADI Go Dive tankönyvet, mely kötelező a PADI előírásainak megfelelően. Az interneten sok olcsó búvártanfolyam látszólag olcsó, mert a tankönyvet külön értékesítik.</li>
                        <li>a tanfolyami előadásokat, melyen a búvárkodás elméletét magyarázzuk el Neked, és ahol kérdéseidet is felteheted.</li>
                        <li>az elméleti vizsgát, valamint konzultációt azaz, a zárótesztben vétett hibákat átbeszéljük, hogy tudd miben kell fejlődnöd.</li>
                        <li>uszodai foglalkozásokat az uszodabelépő jeggyel és felszereléssel együtt.</li>
                        <li>a magyarországi nyílt-vízi vizsgamerülés díját és a strandbelépőt, illetve a felszerelést.<br/></li>
                        <li>új merülési naplót.</li>
                        <li>konzultációt szóban, amikor csak szükséged van rá.</li>
                        <li class="red">Boat diver tanfolyamot most ajándékba kapod.</li>
                    </ul>
                        <p>Az uszodába Neked csak törölközőt, papucsot és fürdőruhát kell hoznod, valamint az odajutást és az étkezésedet kell önköltségen megoldanod.</p>
                    
                    <div class="cleaner"></div>
                    
                    <h4>PADI követelmények</h4>
                    <p>Nem kell, hogy átlagon felüli fizikai kondícióval rendelkezz, vagy hogy úszóvilágbajnok legyél...</p><br/>
                    
                    <span class="more-course">Elegendő, ha:</span>
                    <ul>
                        <li>elbírod a felszerelésedet a hátadon</li>
                        <li>ha segítség nélkül tudsz úszni</li>
                        <li>lelkileg érett vagy</li>
                        <li>jó ítélőképességgel és önfegyelemmel rendelkezel</li>
                        <li>betartod a merülési irányelveket, a búvárkodás szabályait.</li>
                    </ul>
                    <p>A PADI kezdő búvártanfolyamot gyakorlatilag bárki elkezdheti, aki megfelelő egészségi, mentális és fizikai állapotban van és betöltötte 10-edik életévét. (10-14 éves korig Junior Open Water Diver).</p><br/>
                    
                    <a href="" title="" class="btn btn_3 large">Jelentkezem</a>
                </aside>
            </div>

    </section>

    <footer>
        <section class="partners">
            <h2 class="alpha">DiveWorld Partnerek</h2>
            <div class="gridContainer">
                <div class="col-1">
                    <div id="owl">
                        <div class="item"><img src="../content/image/partners/cressi.png" alt="Búvár Partnerek Cressi" />
                        </div>
                        <div class="item"><img src="../content/image/partners/aqua-lung.png" alt="Búvár Partnerek Aqualung" />
                        </div>
                        <div class="item"><img src="../content/image/partners/scubapro.png" alt="Búvár Partnerek Scubapro" />
                        </div>
                        <div class="item"><img src="../content/image/partners/suunto.png" alt="Búvár Partnerek Suunto" />
                        </div>
                        <div class="item"><img src="../content/image/partners/diveworld.png" alt="Búvár Partnerek DiveWorls" />
                        </div>
                        <div class="item"><img src="../content/image/partners/kowalski.png" alt="Búvár Partnerek Kowalski" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="gridContainer">
            <div class="col-4">
                <h4>Oldaltérkép</h4>
                <ul>
                    <li><a href="buvartanfolyam.html" title="Búvártanfolyam">Búvártanfolyam</a>
                    </li>
                    <li><a href="buvartura.html" title="Búvártúra">Búvártúra</a>
                    </li>
                    <li><a href="buvaroktatas-csapatepites.html" title="Csapatépítés">Csapatépítés</a>
                    </li>
                    <li><a href="buvartanfolyam-tudnivalok.html" title="Búvártanfolyam Tudnivalók">Tudnivalók</a>
                    </li>
                    <li><a href="buvartanfolyam-oktatok.html" title="Búvártanfolyam, búvároktatás Bemutatkozás">Bemutatkozás</a>
                    </li>
                    <li><a href="diveworld-buvartura-geleria.html" title="DiveWorld Búvártúra Galéria">Galéria</a>
                    </li>
                    <li><a href="padi-buvartanfolyam-kapcsolat.html" title="PADI Búvártanfolyam Kapcsolat">Kapcsolat</a>
                    </li>
                    <li><a href="buvartanfolyam-elott-probamerules.html" title="Búvártanfolyam előtti Próbamerülés">Próbamerülés</a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <h4>Búvártanfolyamok</h4>
                <ul>
                    <li><a href="buvartanfolyam-padi-kezdo.html" title="Búvártanfolyam PADI kezdő">PADI kezdő búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-kalandkereso.html" title="Búvártanfolyam PADI kalandkereső">PADI kalandkereső búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-halado.html" title="Búvártanfolyam PADI haladó">PADI haladó búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-melymerulo.html" title="Búvártanfolyam PADI mélymerülő">PADI mélymerülő búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-roncsmerulo.html" title="Búvártanfolyam PADI roncsmerülő">PADI roncsmerülő búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-dusitott-levegos.html" title="Búvártanfolyam PADI dúsított levegős">PADI dúsított levegős búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-mesterbuvar.html" title="Búvártanfolyam PADI mesterbúvár">PADI mesterbúvár búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-mentobuvar.html" title="Búvártanfolyam PADI mentőbúvár">PADI mentőbúvár búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam-padi-merulesvezeto.html" title="Búvártanfolyam PADI merülésvezető">PADI merülésvezető búvártanfolyam</a></li>
                    <li><a href="buvartanfolyam.html" title="Búvártanfolyam Összes megtekintés">Összes búvártanfolyam megtekintése</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h4>Búvártúrák</h4>
                <ul>
                    <li><a href="index.html#hamarosan-megyunk" title="Búvártúra hamarosan megyünk">Hamarosan megyünk</a></li>
                    <li><a href="buvartura-krk-diveworld.html" title="Búvártúra Krk Diveworld">Búvártúra Krk (Horvátország)</a></li>
                    <li><a href="buvartura-rovinj-diveworld.html" title="Búvártúra Rovinj Diveworld">Búvártúra Rovinj (Horvátország)</a></li>
                    <li><a href="buvartura-senj-diveworld.html" title="Búvártúra Senj Diveworld">Búvártúra Senj (Horvátország)</a></li>
                    <li><a href="buvartura-kaprije-diveworld.html" title="Búvártúra Kaprije Diveworld">Búvártúra Kaprije (Horvátország)</a></li>
                    <li><a href="buvartura-egyiptom-deli-hajos-szafari-diveworld.html" title="Búvártúra Egyiptom Déli Hajós szafari Diveworld">Búvártúra Egyiptom Déli Hajós szafari</a></li>
                    <li><a href="buvartura-egyiptom-eszaki-hajos-szafari-diveworld.html" title="Búvártúra Egyiptom Északi Hajós szafari Diveworld">Búvártúra Egyiptom Északi Hajós szafari</a></li>
                    <li><a href="buvartura-egyiptom-daedalus-es-brothers-hajos-szafari-diveworld.html" title="Búvártúra Egyiptom Daedalus és Brothers Hajós szafari Diveworld">Búvártúra Egyiptom Daedalus és Brothers Hajós szafari</a></li>
                    <li><a href="buvartura-egyiptom-hurghada-diveworld.html" title="Búvártúra Egyiptom Hurghada Diveworld">Búvártúra Egyiptom Hurghada</a></li>
                    <li><a href="buvartura-egyiptom-dahab-diveworld.html" title="Búvártúra Egyiptom Dahab Diveworld">Búvártúra Egyiptom Dahab</a></li>
                    <li><a href="buvartura-egyiptom-sharm-diveworld.html" title="Búvártúra Egyiptom Sharm El Sheikh Diveworld">Búvártúra Egyiptom Sharm El Sheikh</a></li>
                    <li><a href="buvartura-thaifold-similan-diveworld.html" title="Búvártúra Thaiföld Phuket - Similan-Szigetek Diveworld">Búvártúra Thaiföld Phuket - Similan-Szigetek</a></li>
                    <li><a href="buvartura-bali-diveworld.html" title="Búvártúra Bali az Istenek szigete Diveworld">Búvártúra Bali az Istenek szigete</a></li>
                    <li><a href="buvartura-nemo33-diveworld.html" title="Búvártúra Belgium NEMO33 Diveworld">Búvártúra Belgium NEMO33</a></li>
                    <li><a href="buvartura.html" title="Búvártúra Összes megtekintés">Összes búvártúra megtekintése</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h4>Egyéb</h4>
                <ul>
                    <li><a href="../content/docs/adatvedelem.pdf" title="adatvédelmi nyiltakozat" rel="nofollow">adatvédelmi nyiltakozat</a></li>
                    <li><a href="buvartanfolyam-buvartura-diveworld-hirlevel.html" title="Búvártanfolyam búvártúra DiveWorld hírlevélre feliratkozás">hírlevél feliratkozás</a></li>
                    <li><a href="diveworld-hirlevel-leiratkozas" title="DiveWorld hírlevél leiratkozás">Hírlevél leiratkozás</a></li>
                    <li><a href="diveworld-visszajelzesek.html" title="DiveWorld Visszajelzések">Visszajelzések</a></li>
                    <li><a href="diveworld-visszajelzesek.html" title="DiveWorld Viszontlinkek">Viszontlinkek</a></li>
                    <li><a href="diveworld-ajandekutalvany.html" title="DiveWorld Ajándékutalvány">Ajándékutalvány</a></li>
                    <li><a href="aquaworld-mokamerules.html" title="AquaWorld mókamerülés">AquaWorld mókamerülés</a></li>
                </ul>
            </div>
        </div>

        <section class="social">
            <h2 class="alpha">DiveWorld Social, hírlevélre feliratkozás</h2>
            <div class="gridContainer">
                <div class="col-2">
                    <h4>Kövess minket</h4>
                    <div class="social">
                        <a href="https://www.facebook.com/" title="DiveWorld on Facebook" class="fb"></a>
                        <a href="https://www.linkedin.com/company/" title="DiveWorld on LinkedIn" class="in"></a>
                        <a href="https://twitter.com/" title="DiveWorld on Twitter" class="tw"></a>
                        <a href="https://vimeo.com/" title="DiveWorld on Vimeo" class="vm"></a>
                        <a href="https://plus.google.com/" title="DiveWorld on Plus" class="pl"></a>
                    </div>
                </div>
                <div class="col-2">
                    <h4>Iratkozz fel hírlevelünkre</h4>
                    <form class="newsletter">
                        <input type="text" name="newsletter-name" placeholder="Név" />
                        <input type="text" name="newsletter-name" placeholder="Email cím" />
                        <input type="submit" name="submit" class="btn normal btn_1" value="Feliratkozás" />
                    </form>
                </div>
            </div>
        </section>
        <div class="cleaner"></div>

        <div class="copyright">
            <div class="gridContainer">
                <span class="copy">copyright © 2015 <a href="https://diveworld.hu" title="Búvártanfolyam, búvártúra - DiveWorld | diveworld.hu">DiveWorld Hungary</a></span>
                <span class="designed">made by <a href="http://www.graph.works" title="graphworks creative ltd. | web, digital, marketing">graphworks creative</a></span>
            </div>
        </div>
    </footer>

    <!-- Loading graphworks Framework JS components -->
    <script type="text/javascript" data-main="../content/js/layout/subpages" src="../content/js/core/require.js"></script>

    <!--twitter.js-->
    <script>
        ! function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');
    </script>

    <!--google.js-->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</body>

</html>