/* transitons */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext);
@font-face {
  font-family: 'plutocond_regular';
  src: url("../fonts/plutocondregular-webfont.eot");
  src: url("../fonts/plutocondregular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/plutocondregular-webfont.woff2") format("woff2"), url("../fonts/plutocondregular-webfont.woff") format("woff"), url("../fonts/plutocondregular-webfont.ttf") format("truetype"), url("../fonts/plutocondregular-webfont.svg#plutocond_regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'plutocond_medium';
  src: url("../fonts/plutocondmedium-webfont.eot");
  src: url("../fonts/plutocondmedium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/plutocondmedium-webfont.woff2") format("woff2"), url("../fonts/plutocondmedium-webfont.woff") format("woff"), url("../fonts/plutocondmedium-webfont.ttf") format("truetype"), url("../fonts/plutocondmedium-webfont.svg#plutocond_medium") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'Oxygen', sans-serif; }

section {
  padding: 50px 0 30px 0; }
  section.w100 {
    width: 100% !important; }

section.first {
  margin-top: 70px; }

section.page404 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../image/404.jpg) no-repeat right bottom #50889f;
  background-size: 100%; }
  section.page404 h1 {
    margin-top: 150px;
    font-size: 80px;
    font-weight: 800 !important;
    color: #b1173e;
    padding-bottom: 30px; }
  section.page404 h2 {
    color: #FFFFFF;
    padding-bottom: 0; }
  section.page404 h3 {
    padding-bottom: 60px;
    color: #FFFFFF; }

section.intro {
  background-color: #164974; }
  section.intro .col-2:nth-child(1) {
    padding-right: 20px; }
    section.intro .col-2:nth-child(1) h3 {
      color: #FFFFFF;
      font-weight: 600 !important; }
    section.intro .col-2:nth-child(1) p {
      color: #FFFFFF;
      padding-bottom: 20px; }
    section.intro .col-2:nth-child(1) .btn_1 {
      background-color: #0073b9; }
      section.intro .col-2:nth-child(1) .btn_1:hover {
        background-color: #20abff; }
  section.intro .col-2:nth-child(2) {
    padding-left: 20px; }
    section.intro .col-2:nth-child(2) p,
    section.intro .col-2:nth-child(2) h3 {
      color: #95d1f6; }
    section.intro .col-2:nth-child(2) h3 {
      font-weight: 600 !important;
      padding-top: 15px; }
  section.intro a.switcher {
    width: 55px;
    height: 55px;
    float: right;
    display: block;
    cursor: pointer;
    margin-top: 15px;
    background: url(../image/arrows.png) no-repeat; }
    section.intro a.switcher:hover {
      opacity: 0.6;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
      filter: alpha(opacity=60);
      -khtml-opacity: 0.6;
      -moz-opacity: 0.6; }
    section.intro a.switcher.left {
      background-position: 0 0; }
    section.intro a.switcher.right {
      background-position: -55px 0; }

.swipe {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%; }

.swipe-wrap {
  overflow: hidden;
  position: relative;
  width: 100%; }

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
  padding-bottom: 55px; }

.swipe-wrap > div img {
  width: 100px;
  height: 100px;
  display: block;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border: 100px;
  position: absolute;
  right: 0;
  bottom: 0px; }

section.courses {
  width: 100%;
  height: auto;
  padding-top: 0; }
  section.courses .col-2:nth-child(2) {
    padding-right: 40px; }
  section.courses .col-2:nth-child(3) {
    padding-left: 40px; }
  @media only screen and (max-width: 680px) {
    section.courses .col-2 {
      width: 100%; }
    section.courses .col-2 img {
      padding-right: 0px; }
    section.courses .col-2:nth-child(2) {
      padding-right: 0px; }
    section.courses .col-2:nth-child(3) {
      padding-left: 0px; } }
  section.courses a {
    overflow: hidden;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease; }
    section.courses a:hover {
      opacity: 0.8;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
      -khtml-opacity: 0.8;
      -moz-opacity: 0.8;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease; }
    section.courses a h4 {
      width: 100%;
      height: auto;
      display: block;
      padding: 15px;
      background-color: #ececec;
      color: #164974 !important;
      font-family: 'plutocond_medium';
      text-transform: uppercase; }
      section.courses a h4 span {
        width: 100%;
        clear: both;
        display: block;
        font-family: 'Oxygen', sans-serif;
        font-weight: normal;
        text-transform: none; }

.course_one {
  width: 100%;
  clear: both;
  float: left; }
  .course_one .col-2 {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0px !important;
    padding-left: 0px !important; }
  .course_one .col-2 img {
    padding-right: 20px; }
  .course_one h3 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600 !important;
    padding-top: 0;
    margin-top: 0;
    color: #0073b9;
    text-transform: uppercase; }
  .course_one span.time {
    color: #2ca4ed;
    font-weight: 600 !important;
    font-size: 90%; }
  .course_one span.rem_time {
    color: #959595;
    font-size: 12px; }
  .course_one span.price {
    color: #2ca4ed;
    font-size: 80%; }
    .course_one span.price b {
      font-size: 140% !important; }
  .course_one .btn_2.normal,
  .course_one .btn_3.normal {
    padding: .7em 1.2em;
    font-size: 0.8em; }
  .course_one .btn_2 {
    background-color: #bababa; }
    .course_one .btn_2:hover {
      background-color: #878787; }
  .course_one .btn_3 {
    background-color: #39d199;
    margin-right: 0; }
    .course_one .btn_3:hover {
      background-color: #1f855f; }
  @media only screen and (max-width: 680px) {
    .course_one h3 {
      font-size: 20px; } }
  @media only screen and (max-width: 880px) {
    .course_one h3 {
      font-size: 18px; } }

section.trips {
  width: 100%;
  height: auto;
  padding-top: 0; }
  section.trips .col-2:nth-child(even) {
    width: 30%;
    padding-right: 0px;
    padding-top: 15px;
    float: left; }
  section.trips .col-2:nth-child(odd) {
    width: 70%;
    padding-left: 30px;
    float: left; }
    section.trips .col-2:nth-child(odd) h3 {
      font-weight: 700 !important;
      font-weight: 300 !important;
      font-size: 18px;
      line-height: 22px;
      font-weight: 600 !important;
      color: #164974;
      text-transform: uppercase; }
    section.trips .col-2:nth-child(odd) h4 {
      font-size: 16px;
      color: #0073b9;
      padding: 10px 0 15px 0;
      font-weight: 300 !important; }
      section.trips .col-2:nth-child(odd) h4 b {
        font-weight: 700 !important;
        font-size: 16px;
        color: #0073b9; }
    section.trips .col-2:nth-child(odd) .btn_2 {
      background-color: #bababa; }
      section.trips .col-2:nth-child(odd) .btn_2:hover {
        background-color: #878787; }
    section.trips .col-2:nth-child(odd) .btn_3 {
      background-color: #39d199;
      margin-right: 0; }
      section.trips .col-2:nth-child(odd) .btn_3:hover {
        background-color: #1f855f; }
    @media only screen and (max-width: 680px) {
      section.trips .col-2:nth-child(odd) h4 {
        font-size: 18px; }
        section.trips .col-2:nth-child(odd) h4 b {
          font-size: 16px; } }
    @media only screen and (max-width: 880px) {
      section.trips .col-2:nth-child(odd) h4 {
        font-size: 16px; }
        section.trips .col-2:nth-child(odd) h4 b {
          font-size: 15px; } }
  @media only screen and (max-width: 820px) {
    section.trips .col-2:nth-child(even),
    section.trips .col-2:nth-child(odd) {
      width: 100% !important;
      padding-left: 0; } }

section.function {
  overflow-x: hidden;
  background-color: none !important;
  background: url(../image/bubbles.jpg) no-repeat center center;
  background-size: 130% auto; }
  section.function .col-2 {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease; }
  section.function .col-2:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease; }
  @media only screen and (max-width: 30em) {
    section.function .col-2 .col-2:nth-child(1),
    section.function .col-2 .col-2:nth-child(2) {
      padding-left: 0px;
      padding-right: 0px; } }
  @media only screen and (min-width: 30em) {
    section.function .col-2 .col-2 {
      padding-top: 0;
      padding-bottom: 0; }
    section.function .col-2 .col-2:nth-child(1) {
      padding-left: 0px; }
    section.function .col-2 .col-2:nth-child(2) {
      padding-right: 0px; } }

@media only screen and (max-width: 30em) {
  section.function {
    background: none; } }
section.partners {
  padding: 15px 0 80px 0; }

footer {
  background: url(../image/footer_bg.jpg) no-repeat top center #88dcf4;
  background-size: 100%;
  padding: 30px 0 0 0; }
  footer h4 {
    font-weight: bold;
    color: #164974; }
  footer p,
  footer a {
    color: #231f20; }
  footer ul li {
    list-style: none; }
  footer a {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 20.0px;
    line-height: 2.0rem;
    color: #231f20 !important; }
  footer a:hover {
    color: #164974 !important; }

section.social {
  width: 100%;
  background-color: #f6f6f6;
  padding: 10px 0 0 0;
  margin-top: 20px; }

.copyright {
  background: #164974;
  color: #FFFFFF;
  font-size: 12px !important;
  font-weight: bold;
  line-height: 40px;
  height: auto;
  min-height: 40px;
  margin: 0px; }
  .copyright a {
    color: #21a3cf !important;
    font-weight: bold;
    font-size: 12px !important;
    text-decoration: none; }
  .copyright span.copy {
    float: left; }
  .copyright span.designed {
    float: right; }

.social {
  width: auto;
  height: auto;
  min-height: 50px;
  float: left;
  text-align: left;
  display: block; }
  .social a {
    width: 50px;
    height: 50px;
    float: left;
    display: block;
    background-repeat: no-repeat;
    background-image: url(../image/social.svg);
    cursor: pointer; }
    .social a.fb {
      background-position: 0px 0px; }
    .social a.in {
      background-position: -50px 0px; }
    .social a.tw {
      background-position: -100px 0px; }
    .social a.vm {
      background-position: -150px 0px; }
    .social a.pl {
      background-position: -200px 0px; }
    .social a:hover {
      -webkit-box-shadow: inset 0px 0px 100px 50px rgba(255, 255, 255, 0.1);
      -moz-box-shadow: inset 0px 0px 100px 50px rgba(255, 255, 255, 0.1);
      box-shadow: inset 0px 0px 100px 50px rgba(255, 255, 255, 0.1); }

@media only screen and (max-width: 68.75em) {
  section.work .work_container.w12 {
    width: 25%;
    max-width: 25% !important; }
  section.work .work_container.w25 {
    width: 50%;
    max-width: 50% !important; } }
@media only screen and (min-width: 50em) {
  .mobile-only {
    display: none; }

  .desktop-only {
    display: block; }

  .float_btn {
    float: right; } }
@media only screen and (max-width: 50em) {
  .mobile-only {
    display: block; }

  .desktop-only {
    display: none; }

  section.services,
  section.services .parallax {
    background-image: none; }

  .float_btn {
    float: left;
    margin: 0 auto; }

  section.page404 h3 {
    padding-bottom: 20px; }

  a.badge {
    display: none; }

  section.partners {
    padding: 15px 0 20px 0; }

  section.intro .col-2:nth-child(1),
  section.intro .col-2:nth-child(2) {
    padding: 0; } }
@media only screen and (max-width: 680px) {
  section.topbar h6,
  section.topbar img {
    float: none;
    margin: 0px auto;
    padding: 5px 0; }
  section.topbar h6 {
    margin: 3px 0 0 10px !important;
    line-height: 12px; }
  section.topbar h6 span {
    display: none !important; }
  section.topbar h6 span.molow {
    display: block !important; }

  section.first {
    margin-top: 70px !important; }

  .copyright span {
    width: 100%;
    text-align: center; } }
@media only screen and (max-width: 365px) {
  section.topbar h6,
  section.topbar img {
    float: none;
    margin: 0px auto;
    padding: 5px 0; }
  section.topbar h6 {
    display: none !important; }

  section.first {
    margin-top: 70px !important; } }
